@font-face{
  font-family: 'adelio-darmanto';
  src: url('/public/fonts/Adelio Darmanto.otf');
}
@font-face{
  font-family: 'dreamland';
  src: url('/public/fonts/dreamland.ttf');
}
@font-face{
  font-family: 'lemon-milk';
  src: url('/public/fonts/lemon-milk-regular.otf');
}
@font-face {
  font-family: 'Outfit';
  src: url('/public/fonts/Outfit/Outfit-VariableFont_wght.ttf');
  font-weight: 100 800;
}
@font-face {
  font-family: 'Great Vibes';
  src: url('/public/fonts/GreatVibes-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 800;
}